* 
{
    margin: 0;
    padding: 0;

    body 
    {
        // font-family: sans-serif;

        nav
        {
             display: flex;
            //  background-color: darkgray;
             justify-content: space-between;
             padding: 15px 30px 2px;

             .menu-toggle
             {
                 display: flex;
                 flex-direction: column;
                 height: 20px;
                 justify-content: space-between;

                span {
                    display: block;
                    width: 28px;
                    height: 3px;
                    background-color: #151515;
                    border-radius: 2px;

                }
             }

             ul
             {
                 display: flex;
                list-style: none;
                

                li 
                {
                    padding-right: 2%;

                    .d-flex
                    {
                    }
                }
             }

        }

    }
}
